 <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--Log File Path-->
      <file value="Logs/logging.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="&quot;.&quot;yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--d = date , t = thread , p = level , m = message , n = new line -->
        <conversionPattern value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--d = date , t = thread , p = level , m = message , n = new line -->
        <conversionPattern value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"></level>
      <appender-ref ref="RollingLogFileAppender"></appender-ref>
      <appender-ref ref="ConsoleAppender"></appender-ref>
    </root>
  </log4net>

<!--
1. Copy the above configuration into your App.Config or Web.Config inside </configuration> copy here </configuration> 
2. Copy the following <section> entry into your App.Config or Web.Config <ConfigSection> copy section here <ConfigSection>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
3. Call the following line either into Global.asax > Application_Start method or in the starting method of your code
    XmlConfigurator.Configure();
Example : 

  static void Main(string[] args)
        {
            XmlConfigurator.Configure();
            
            Logger _logger = new Logger();
            Guid _loggerGuid = Guid.NewGuid();

            _logger.ActivityID = _loggerGuid.ToString();

            _logger.WriteInformation("Info");
            _logger.WriteError("Error");
            _logger.WriteWarning("Warning");
            _logger.WriteFatal("Fatal");
            
            Console.Read();
        }

-->
